<div class='page-banner relative'>
    <img src="<?= $banner_image; ?>" alt="<?= $page_name; ?>" class="img-responsive hidden-xs" />
    <img src="<?= $mobile_banner_image; ?>" alt="<?= $page_name; ?>" class="img-responsive visible-xs" />

    <div class="page-banner-title absolute position-center-center container">
        <div class="skew_border_white_gray"><?= $title; ?></div> 
    </div>
</div>