/*=============================
Basic Styling
==============================*/

@font-face {
  font-family: 'GillSans';
  src: url('GillSAns/Gill Sans.otf');
}

@font-face {
  font-family: 'Gill Sans Bold';
  src: url('fonts/GillSans-Bold.eot');
  src: url('fonts/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/GillSans-Bold.woff2') format('woff2'),
      url('fonts/GillSans-Bold.woff') format('woff'),
      url('fonts/GillSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('fonts/GillSans.eot');
  src: url('fonts/GillSans.eot?#iefix') format('embedded-opentype'),
      url('fonts/GillSans.woff2') format('woff2'),
      url('fonts/GillSans.woff') format('woff'),
      url('/fonts/GillSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* MARGINS & PADDINGS */
.p-xxs {
  padding: 5px !important;
}
.p-xs {
  padding: 10px !important;
}
.p-sm {
  padding: 15px !important;
}
.p-m {
  padding: 20px !important;
}
.p-md {
  padding: 25px !important;
}
.p-lg {
  padding: 30px !important;
}
.p-xl {
  padding: 40px !important;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-xxl {
  margin-top: 50px;
}
.m-t-xxxl {
  margin-top: 60px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}

.flex.align-center {
  align-items:center
}

.bold-text {
  font-family: 'Gill Sans Bold';
}

.container.extra-width {
  width:90%;
}

body.mac-browser.desktop .max-offset {
  overflow: hidden;
}

body {
  font-family:'GillSans', sans-serif; 
  font-size: 14px;
  font-weight: 300;
  overflow-x:hidden;
  letter-spacing: 2px;
  background-repeat:no-repeat!important;
  color:#8f8f8f;
  height:auto!important;
  line-height: 2em;
}

body .form-control:focus {
  border-color: #1e1e1e!important;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(0,0,0,.2);
}

p {
  letter-spacing: 1px;
}

h1, h2{
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1.3em;  
  font-family:'GillSans', sans-serif; 
}

h2.text-align-left {
  text-align:left!important;
}

body:not(.cke_editable) h2.text-align-left:not(.swal2-title):not([style]):before {
  margin-left:0;
}

a {
  color:#1e1e1e;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

a:hover,a:focus, a:hover {
  color:#93d508;
}

body:not(.cke_editable) .text-left h2:not(.swal2-title):not([style]) {
  text-align:left!important;
}

body:not(.cke_editable) .text-left h2:not(.swal2-title):not([style]):before {
  margin-left:0;
}

body h2:not(.swal2-title), body:not(.cke_editable) h2:not(.swal2-title):not([style]), .newsletter-section h3{ 
  color:#1e1e1e;
  margin-bottom:40px!important;
  font-size:46px;
  text-align:left;
  text-transform:uppercase;
  font-family: 'Gill Sans Bold';
  /* text-shadow: 2px 11px 30px rgba(0,0,0,0.3); */
}

body:not(.cke_editable) h2:not(.swal2-title):not([style]):before {
  content:" ";
  height:11px;
  width:70px;
  background-color:#1e1e1e;
  display: block;
  margin:0 auto;
  margin-bottom:30px;
  transform: skew(-26.5deg, 0deg);
  -ms-transform: skew(-26.5deg, 0deg);
  -webkit-transform: skew(-26.5deg, 0deg);
  box-shadow: 26px 0px 0px 0px rgb(204, 204, 204);
  -webkit-box-shadow: 26px 0px 0px 0px rgb(204, 204, 204);
  -moz-box-shadow: 26px 0px 0px 0px rgb(204, 204, 204);
}

body:not(.cke_editable) h2:not(.swal2-title):not([style])::after {
  display:none!important;
}

.newsletter-section h3:before {
  content:" ";
  height:11px;
  width:70px;
  background-color:#1e1e1e;
  display: block;
  margin:0 auto;
  margin-bottom:30px;
  transform: skew(-26.5deg, 0deg);
  -ms-transform: skew(-26.5deg, 0deg);
  -webkit-transform: skew(-26.5deg, 0deg);
  box-shadow: 26px 0px 0px 0px rgb(255, 255, 255);
  -webkit-box-shadow: 26px 0px 0px 0px rgb(255, 255, 255);
  -moz-box-shadow: 26px 0px 0px 0px rgb(255, 255, 255);
}

body h2.dark:not(.swal2-title), body:not(.cke_editable) h2.dark:not(.swal2-title):not([style]) {
  color:#1e1e1e;
}

body h2.light:not(.swal2-title), body:not(.cke_editable) h2.light:not(.swal2-title):not([style]) {
  color:#fff;
}

body.mac-browser.desktop .max-offset {
  width: calc(100vw - 0px);
  margin-left: calc(-50vw + -0.5px);
}

body .btn-primary {
  background: #1e1e1e;
  background-size: 100% 100%;
  border-color:#1e1e1e!important;
  border-width: 1px;
  min-width: 180px;
  min-height:60px;
  height:60px;
  padding:20px 0;
  color:#fff;
  letter-spacing: 2px;
}

body .btn-default {
  border-color:#1e1e1e
}

body .btn-default.disabled {
  color: #fff;
  background-color: #1e1e1e;
  opacity:0.8
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active {
  border-color:#1e1e1e!important;
  background: #fff;
  color:#1e1e1e;
}

/*=============================
Header
==============================*/ 

body .fixed-header {
  box-shadow:none;
  background:none;
}

body .header-container .header-menu, body .header-container .header-top {
  height:75%;
  align-items: center
}

.fixed-header:before { 
  content: " ";
  position: absolute;
  display: block;
  width: 10%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  box-shadow: 10px 0px 6px -3px rgba(204,204,204,1);
}

body .header-container .header-logo {
  position: relative;
  z-index:2;
  padding-right:20px;
}

body .header-logo:after  {
  right:0;
  left:auto;
  width:100%;
}

body .header-container .header-menu #main-menu>li>a {
  padding-right:25px;
}

.breadcrumb {
  display:none;
}

#content > h2 {
  display: none;
}

body:not(.common-home) #content {
  padding-top:10%;
}

body[class*=account] #content {
  padding-top:5%;
}

.page-banner .page-banner-title {
  font-size:60px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  line-height:1em;
}

.page-banner  .skew_border_white_gray:before{
  margin-bottom:7%;
}

body #enquiry.slide-out-cart.open-custom #enquiry_dropdown_icon::before, body #cart.slide-out-cart.open-custom #cart_dropdown_icon::before {
  background:rgba(0,0,0,0.6);
} 

/*=============================
Account
==============================*/ 
body.account-account .account-container a:hover, body.account-account .account-container a:focus {
  border-color:#93d508;
}

body.account-account .account-container a:hover .icon-font::before, body.account-account .account-container a:focus .icon-font::before {
  color:#93d508;
}

.account-account .account-container a .icon-font::before {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.alert-success{
  margin-top:20px;
}

/*=============================
Casper previous
==============================*/ 
/*start*/

.header-logo{
  padding:30px 0;
}
.header-logo:after{
  content: " ";
  position: absolute;
  display: block;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fff;
  transform-origin: center;
  transform: skew(-26.5deg, 0deg);
      -ms-transform: skew(-26.5deg, 0deg);
      -webkit-transform: skew(-26.5deg, 0deg);
  box-shadow: 10px 0px 6px -3px rgba(204,204,204,1);
      -webkit-box-shadow: 10px 0px 6px -3px rgba(204,204,204,1);
      -moz-box-shadow: 10px 0px 6px -3px rgba(204,204,204,1);
}
.header-container {
  grid-template-columns: auto 1fr auto!important;
      -ms-grid-columns: auto 1fr auto!important;
}
.header-container:before{
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 75%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(255,255,255,0.9);
  box-shadow: 3px 10px 22px -8px rgba(204,204,204,1);
  -webkit-box-shadow: 3px 10px 22px -8px rgba(204,204,204,1);
  -moz-box-shadow: 3px 10px 22px -8px rgba(204,204,204,1);
}
.header-container .header-top {
  grid-column: 3 / 4!important;
      -ms-grid-column: 3!important;
      -ms-grid-column-span: 1!important;
  grid-row: 1 / 3!important;
      -ms-grid-row: 1!important;
      -ms-grid-row-span: 2!important;
}
.header-container .header-menu {
  grid-column: 2 / 3!important;
      -ms-grid-column: 2!important;
      -ms-grid-column-span: 1!important;
  grid-row: 1 / 3!important;
      -ms-grid-row: 1!important;
      -ms-grid-row-span: 2!important;
  justify-content: center!important;
  align-items: center;
}
.header-container #main-menu li a{
  color: #1e1e1e!important;
  text-transform: uppercase;
}

body .header-container #cart>a , body .header-container #account>a[data-toggle="dropdown"]{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  align-items:center;
  width:auto;
  color:#1e1e1e;
}

.header-container #account a{
  margin-right:5px;
  text-transform:uppercase;
  color:#1e1e1e!important;
  /*font-weight: bold;*/
  letter-spacing:1px;
}
.header-container #account a img, .header-container #cart > a img{
  margin-right:10px;
}
.header-container #cart{
  margin-right:10px;
}
/* .header-container #enquiry>a img, .header-container #cart>a img{
  margin-right: 25px!important;
} */
body .header-container #enquiry>a .badge, body .header-container #cart>a .badge {
  background: transparent!important;
  color:#1e1e1e!important;
  position: relative;
  transform: none;
  top:auto;
  left:auto;
}

body .header-container #enquiry>a .badge>span, body .header-container #cart>a .badge>span {
  position: relative;
  left:0;
  transform:none
}

.header-container #enquiry>a .badge>span, .header-container #cart>a .badge>span {
  top: 0!important;
  font-size: 16px!important;
  font-weight: initial;
}

body #cart.slide-out-cart .dropdown-menu .cart-header {
  border-bottom:2px solid #93d508;
}

body .header-container .header-top {
  z-index:3;
}
/*=============================
Home
==============================*/ 

.common-home .slider-slideshow-description-texts{
  text-align:center;
}

.common-home .slider-slideshow-description-texts .slideshow-text-0:before{
  content:" ";
  height:11px;
  width:70px;
  background-color:#fff;
  display: block;
  margin:0 auto;
  margin-top:-30px;
  margin-bottom:30px;
  transform: skew(-26.5deg, 0deg);
      -ms-transform: skew(-26.5deg, 0deg);
      -webkit-transform: skew(-26.5deg, 0deg);
  box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
      -webkit-box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
      -moz-box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
}

body.common-home .slider-slideshow-description-texts .slideshow-text-0{
  font-size: 64px!important; 
  text-transform: uppercase;
  font-weight: 500;
}

body.common-home .slider-slideshow-description-texts .slideshow-text-1{
  font-size: 50px; 
  text-transform: uppercase;
  font-weight: 500;
}
body.common-home  .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-1{
  font-size: 64px; 
  text-transform: uppercase;
  font-weight: bold;
}
body.common-home .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-2{
  font-size: 64px; 
  text-transform: uppercase;
  font-family: 'Gill Sans Bold';
  font-style:italic;
}
body.common-home .slider-slideshow-description-texts .slideshow-text-3{
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 500;
}

.skew_border_white_gray:before{
  content:" ";
  height:12px;
  width:80px;
  background-color:#fff;
  display: block;
  margin:0 auto;
  margin-top:-30px;
  margin-bottom:50px;
  transform: skew(-26.5deg, 0deg);
      -ms-transform: skew(-26.5deg, 0deg);
      -webkit-transform: skew(-26.5deg, 0deg);
  box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
      -webkit-box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
      -moz-box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
}
.skew_border_#1e1e1e_gray:before{
  content:" ";
  height:12px;
  width:80px;
  background-color:#1e1e1e;
  display: block;
  margin-bottom:50px;
  transform: skew(-26.5deg, 0deg);
      -ms-transform: skew(-26.5deg, 0deg);
      -webkit-transform: skew(-26.5deg, 0deg);
  box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
      -webkit-box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
      -moz-box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
}

.skew_border_1e1e1e_gray:before{
  content:" ";
  height:12px;
  width:80px;
  background-color:#1e1e1e;
  display: block;
  margin-bottom:50px;
  transform: skew(-26.5deg, 0deg);
      -ms-transform: skew(-26.5deg, 0deg);
      -webkit-transform: skew(-26.5deg, 0deg);
  box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
      -webkit-box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
      -moz-box-shadow: 26px 0px 0px 0px rgb(187, 187, 187);
}

.common-home .artblock{
  background-color:#fff;
  padding: 40px!important;
  padding-bottom: 50px!important;
  display:flex!important;
  flex-direction: row!important;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.common-home>div>div>div>.news_latest img{
  border: 0;
}
.common-home .article_image{
  width:50%;
}
.common-home .article_text{
  padding:10px 50px;
  width:50%;
}
.common-home .article_text .name a{
  color:#1e1e1e;
  font-size:36px!important;
  text-transform: uppercase;
  text-decoration: none;
}
.common-home .article_text .name a:hover{
  text-decoration: underline;
  color:#2f2f2f;
}
.common-home .article_text .custom1{
  margin-top:30px;
  color:#93d50a;
  font-weight: bold;
  letter-spacing:1px;
  text-transform: uppercase;
  font-size: 16px;
}
.common-home .article_text .description{
  padding-top:20px;
  font-size:16px;
  line-height: 35px;
  padding-left: 4px;
  height: 400px;
  overflow: hidden;
}
.common-home .blog-button{
  background-color: #1e1e1e;
  text-align: center!important;
  letter-spacing: 3px;
  padding: 12px!important;
  max-width: 200px;
  margin-top: 30px!important;
  text-transform: uppercase;
}
.common-home .blog-button a{
  color:#fff!important;
}
.common-home .fcategory_tab .owl-prev{
  background-image: url(../image/slider_arrow_left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
  top: 35%;
}
.common-home .fcategory_tab .owl-next{
  background-image: url(../image/slider_arrow_right.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
  top: 35%;
}
.common-home .fcategory_tab .target-heading{
  font-size:38px;
  font-weight: bold;
  color:#1e1e1e;
}
.fcategory_tab ul {
  margin-bottom:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcategory_tab ul li{
  width:auto;
  background-color:#fff;
  margin-right:30px;
  overflow: hidden;
  text-align:center;
  border: 3px solid transparent;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.fcategory_tab ul li.active{
  border:3px solid #b7b7b7;
}
.fcategory_tab ul li.active a{
  background-color:#fff!important;
  color:#1e1e1e!important;
}
.fcategory_tab ul li a{
  color:#1e1e1e;
  letter-spacing: 2px;
  font-size: 16px;
  padding:15px 30px;
  font-family: 'Gill Sans Bold';
  text-transform: uppercase;
}
.fcategory_tab ul li:hover{
  border:3px solid #b7b7b7;
}
.fcategory_tab ul li a:hover{
  background-color:#fff;
  font-weight: 600;
}
.product-block {
  border:0!important;
  padding: 5px!important;
}
.fcategory_tab .owl-item{
  padding: 10px!important;
}
.fcategory_tab h2:after {
  display: none!important;
}
.fcategory_tab a{
  color:#1e1e1e;
  text-transform: uppercase;
}
.fcategory_tab .product-image-block{
  background-color:#1e1e1e;
}
.product-block:hover .img-responsive {
  opacity: 0.1;
}
body .newsletter-section{
  background-color:#e1e1e1;
  padding:3% 50px!important;
  color:#1e1e1e;
}

.newsletter-section h3{
  color:#1e1e1e;
  text-transform: uppercase;
  font-size:46px;
  font-weight: bold;
  text-align: center;
}

.newsletter-section h3 {
   margin:0 auto;
}

.secondary-banner {
  overflow:hidden;
}

.secondary-banner img {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.secondary-banner:hover img {
  transform:scale(1.02);
}

.home-about-content .col-right {
  padding:30px;
}

.header .sub-heading, .sub-heading {
  color:#93d509;
  font-size 18px;
  text-transform:uppercase;
}

.module-instagram .follow-us.item img {
  background:#1e1e1e;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.module-instagram .follow-us.item:hover img {
  opacity:0.8;
}

.section-space.instagram {
  padding:100px 0!important
}

/*=============================
About Us
==============================*/ 
.about-top-section .about-content-text{
  padding-right:50px;
}  

.about-content .row {
  margin-bottom:7%;
}

.about-top-image img {
  box-shadow: 12px 0px 40px 30px rgb(204, 204, 204);
  -webkit-box-shadow: 12px 0px 40px 30px rgb(204, 204, 204);
  -moz-box-shadow: 12px 0px 40px 30px rgb(204, 204, 204);
}

.about-top-image {
  overflow:visible;
}

.about-content-text strong {
  font-size:18px;
  font-family: 'Gill Sans Bold';
  text-transform: uppercase;
}

/*=============================
Blog/News
==============================*/ 

body[class*="news-"] > .container {
  width:90%;
}

body .bnews-list .artblock {
  clear:none;
}

body .bnews-list .artblock .blog-button {
  text-align:left;
  margin-top:30px;
}

body .bnews-list .artblock .blog-button i { 
  margin-left:10px;
  color:#1e1e1e;
  font-size:20px;
  line-height: 20px;
  -webkit-text-stroke: 2px white;
}

body .article-meta {
  border:none!important;
  margin-bottom:20px;
  font-style: italic;
}

body .bnews-list .artblock .article-image {
  width:100%;
  transform: scale(1.15);
  -webkit-transition: all 00ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.artblock-img {
  overflow:hidden;
}

body .bnews-list .artblock a.bigimagein {
  overflow:hidden;
  padding:55% 0;
  background-size: cover!important;
  background-position: center!important;
  -webkit-transition: all 00ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  transform: scale(1.0);
}

body .bnews-list .artblock:hover a.bigimagein {
  transform: scale(1.1);
}

body .bnews-list .artblock a.bigimagein .article-image { 
  display: none;
}

body .bnews-list .artblock .name a {
  font-family: 'Gill Sans Bold';
  font-size:26px;
  margin:20px 0;
  text-transform: uppercase;
  display: block;
}

body .bnews-list .artblock:hover a.bigimagein .article-image {
  transform: scale(1.0);
}

.blog-button {
  text-transform: uppercase;
  font-size:14px;
  font-family: 'Gill Sans Bold';
}

.article-content .title {
  font-family: 'Gill Sans Bold';
  font-size:26px;
  text-transform: uppercase;
}

body .article-content .article-image img{
  opacity: 0;
}

.article-share {
  display:flex;
}

.share-title {
  font-size:20px;
  color:#1e1e1e;
  margin-right:20px;
}

body .stButton .chicklets {
  height: 30px;
  width: 30px;
}

body .stButton .facebook {
  background-image: url(../image/fb.png)!important;
}

body .stButton .instagram {
  background-image: url(../image/ig.png)!important;
}

/*=============================
Athlete
==============================*/ 

.team-title {
  font-size:18px;
  text-transform: uppercase;
}

.team-image {
  overflow:hidden;
}

.team-image img {
  -webkit-transition: all 00ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.team-image:hover img { 
  transform:scale(1.05);
}

.staff-popup .col{
  flex:1;
  background: #fff;
}

.staff-popup .text{
  padding:20px;
  padding-top:10%;
  padding-left:40px;
}

body .staff-popup .mfp-detail {
  margin-top:0;
}

body .staff-popup img.mfp-img {
  padding:0;
}

body .staff-popup .mfp-title {
  text-align: left;
  line-height: 1em;
  font-size:40px;
  color: #1e1e1e;
  text-transform: uppercase;
  font-family: 'Gill Sans Bold';
}

body .mfp-position {
  margin-bottom:10px;
}

body .mfp-image-holder .mfp-close {
  margin-top: 25px;
  color: #1e1e1e; 
  opacity:1;
  -webkit-text-stroke: 2px white;
}

.staff-popup .col.image {
  background-size:cover!important;
  background-position: center center;
}

.staff-popup .col.image img {
  opacity: 0;
}

body .mfp-image-holder .mfp-content {
  width:60%;
}

.single-staff .position {
  font-style:italic;
}


/*=============================
Category
==============================*/ 
body .product-image-block {
  background-color:#1e1e1e;
}

/*=============================
Product
==============================*/ 

.product-title {
  font-size:50px;
  font-family: 'Gill Sans Bold';
  text-transform: uppercase;
  color:#1e1e1e;
}

body.product-product .price {
  font-size:50px;
  font-family: 'Gill Sans Bold';
  line-height: 1em;
}

body .product-block  .clock  {
  display: flex;
  justify-content: space-evenly;
  margin-top:20px;
  padding-bottom:10px;
  border-bottom:1px solid #efefef;
}

body .product-block  .clock > * .timer {
  font-family: 'Gill Sans Bold';
  font-size:26px;
} 

body .product-block .btn:not(.btn-number):not(.btn-mi):not(#button-login):not(#button-voucher):not(#button-coupon):not(#button-reward):not(.no-custom):not(#button-search) {
  width:160px;
  margin:0 auto;
}

body .product-block .btn:not(.btn-number):not(.btn-mi):not(#button-login):not(#button-voucher):not(#button-coupon):not(#button-reward):not(.no-custom):not(#button-search):hover {
  background:#1e1e1e;
  color:#fff;
}

.fc_product_slider .owl-carousel {
  padding:0 40px;
}

body .product-block .product-details .price {
  font-size: 18px;
}

body .price {
  color:#ba1212;
  font-size:30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

body .product-block .product-details .price .price-old {
  text-decoration:line-through;
  font-size:20px;
  font-weight: normal;
  color:#e4e4e4;
}

body .product-block .product-text{
  display: -ms-grid;
  display: grid;
  -ms-grid-rows:auto;  
  grid-template-rows:auto;
}

body .product-block .product-details  {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;  
  justify-self: end;
}
body .product-block .btn {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5; 
  justify-self: end;
}

body .product-block .product-button > img {
  flex:auto!important;
}

body .price-new {
  color:#ba1212;
  font-weight: bold;
}

.sort-filter select.form-control {
  flex-direction: row!important;
  min-height:60px;
  height:60px;
  border-color:#d7d7d7;
  font-size:14px;
  padding:10px;
  padding: 12px!important;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border-radius: 0;
  background:url(../image/select_arrow.png);
  background-size: 17px 9px;
  background-position: calc(100% - 17px) 50%;
  background-repeat: no-repeat;
}

.product-category #column-left {
  padding-top: 10%;
}

#filter_group_tigger_close {
  display:none;
}

body .product-block {
  justify-content: space-between;
}

body .product-block .product-name {
  text-transform:uppercase;
  font-size: 12px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;  
  justify-self: end;
}

body .list-group-item {
  border:none;
}

body #side-categories .side-categories-level-1+.side-categories-level-1 {
  border-top:none;
}

body .list-group-item.item-header {
  padding:0!important;
  font-size:20px;
  color:#1e1e1e;
  text-transform: uppercase;
  font-family: 'Gill Sans Bold';
  margin-bottom:30px;
}

body #side-categories .group .sub a { 
  padding-left:30px;
}

body #side-categories .group .item.active+.sub  {
  border:none
}

body #side-categories{
  font-size:12px;
}

body .side-categories-level-1 .item.level-1 {
  font-family: 'Gill Sans Bold';  
}

body #side-categories .group .item .toggle {
  border:none;
}

body #filter-groups .skew_border_1e1e1e_gray:before {
  margin-bottom:20px;
}

body #side-price .ui-slider-handle {
  background: #fff;
  border: 3px solid #1e1e1e;
}

body #side-price #price_min {
  text-align:left;
}

#side-price #price_max {
  text-align:right;
}

#side-price #price_max, #side-price #price_min {
 border:none;
 box-shadow: none; 
}

body #side-categories .group .item a:hover {
  background:none;
  text-decoration: underline;
  color:inherit;
}

body #side-categories .caret {
  background:url('../image/plus_icon.png');
  width: 8px;
  height: 8px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
}

body #side-categories .active .caret {
  background:url('../image/minus_icon.png');
  width: 8px;
  height: 8px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
}

body.product-product .product-image-additional-container img {
  border:none;
}

#product .btn-number {
  background:#1e1e1e;
  color:#fff;
}

#product .input-number {
  height:36px;
}

#product .input-group .input-group-addon{
  text-transform: uppercase;
}

body.product-product #product {
  max-width: 70%;
}

.price-wrapper > *{
  display: inline-block;
  vertical-align: middle;
}

body #product-tabs.nav-tabs>li>a {
  text-transform: uppercase;
  font-size:18px;
  font-family: 'Gill Sans Bold';
  padding:15px 30px;
}

.tab-content .product-description , .tab-content #tab-review {
  padding:3%;
}

.price-old {
  font-weight: normal!important;
  color:#e4e4e4!important;
  color:#e4e4e4;
}

body.product-product ul.price {
  font-weight: normal!important;
  color:#e4e4e4;
}

.fc_product_slider .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fc_product_slider .product-block {
  height:100%;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background-color:#1e1e1e!important;
}

#voucher-content  .btn-primary, #coupon-content .btn-primary {
  padding:inherit;
  height:100%;
  min-height:auto;
}

#button-login {
  min-height:100%;
  height:100%;
  padding:6px 12px;
}

/*=============================
Footer
==============================*/  

footer a:hover {
  color:#1e1e1e;
}

.footer-location .img-thumbnail {
  border:none;
}

footer {
  background:#fff;
  color:#7e7e7e;
}

body .mailchimp-integration .box-content {
  min-width: 60%;
}

body .mailchimp-integration .form-control {
  height:70px;
  font-size:18px;
  text-transform:uppercase;
  border:1px solid #ccc;
}

body .footer-social-icons>*+a { 
  margin-left:30px;
}

body .mi-button .btn {
  font-family: 'Gill Sans Bold';  
}

/*=============================
Responsive
==============================*/ 
@media only screen and (min-width: 1300px) { 
  .container{
    width:70%;
  }

  header .container ,footer .container{
    width:90%;
  }
}

@media only screen and (max-width: 1280px) { 
}

@media only screen and (max-width: 1024px) {  
}

@media only screen and (max-width: 991px) { 

  body .header-container .header-links>a {
    color:#1e1e1e;
  }

  body .header-container .header-links>a i {
    font-size:30px
  }

  .header-container:before {
    background: rgba(255,255,255,1);
  }

  body .product-block .product-button>* {
    flex: none;
  }

  body .product-block .product-button {
    justify-content: center;
  }

  body .header-container .header-logo {
    grid-column: 1 / 2;
  }

  body .header-container .header-mobile-links {
    grid-column: 3 /3;
    height: 75%;
  }

  body .header-container .header-top {
    display:none;
  }

  body .header-container {
    padding: 0;
    align-items: flex-start;
  }

  body.common-home .slider-slideshow-description-texts .slideshow-text-0 {
    font-size:30px!important;
  }

  body.common-home .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-1 {
    font-size:30px!important;
  }

  body.common-home .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-2 {
    font-size: 30px;
  }

  .footer-contact-info> * {
    width:100%!important;
  }

  body:not(.cke_editable) h2:not(.swal2-title):not([style])  {
    font-size:30px;
  }

   body {
    margin-top: -35px!important;
  }

  .header-logo-image {
    width: 75%;
  }

  body .header-logo:after {
    left: -20%;
  }

  .newsletter-section h3 {
    font-size:30px;
  }

  .footer-bottom > .row {
    display: block;
    text-align: center;
    border-top: 1px solid #efefef;
    margin-top: 20px;
    padding-top: 20px;
  }

  .footer-bottom > .row  > * {
    margin-bottom:20px;
  }

  .product-title{
    font-size:30px
  }

  .page-banner .page-banner-title {
    font-size:30px;
  }

  .page-banner .skew_border_white_gray:before {
    width:40px;
    margin-bottom: 3%;
    height:8px;
    left:-10px;
    position: relative;
  }

  .page-banner .page-banner-title {
      top:60%;
  }


  .staff-popup {
    display:block!important;
  } 

  body .mfp-image-holder .mfp-content {
    width:80%;
  }

  .about-top-image {
    margin-top:30px;
  }
 
  .about-top-image img {
    box-shadow:none;
  }

  body .newsletter-section {
    padding: 7% 50px!important;
  }

  body h2:not(.swal2-title), body:not(.cke_editable) h2:not(.swal2-title):not([style]), .newsletter-section h3 {
    margin-bottom:20px!important;
  }

  .about-top-section .about-content-text {
    padding-right:0;
  }

  .title {
    padding:20px 0;
  }

  .fcategory_tab ul li {
    margin-right: 0;
  }

  .fcategory_tab ul li a {
    padding: 10px 5px;
    font-size:13px;
  }

  .search-box {
    display: flex!important;
  }

  body .header-mobile .mobile-search {
    background:#93d509;
  }

  #filter_group_tigger_open.btn-primary {
    background:#93d509!important;
    border-color:#93d509!important;
  }

  body .newsletter-grid > div:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }

  body .mi-button .btn {
    width:70%;
    margin:0 auto;
  }

  body .article-content .article-image img {
    opacity: 1;
    padding:0!important;
  }

  .article-image > div{
    background:none!important;
  }

  .team-image {
    margin-bottom:0px!important;
  }
}

@media only screen and (max-width: 767px) { 
  #filter_group_tigger_close {
    display:inline-block;
  }

  body.common-home .slider-slideshow-description-texts .slideshow-text-0 {
    font-size:20px!important;
  }

  body.common-home .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-1 {
    font-size:20px!important;
  }

  body.common-home .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-2 {
    font-size: 20px;
  }
  
}